/* ---------------------------------------------- GENERAL ---------------------------------------- */

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

i {
    color: #333;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #b7b8ba;
}

.container {
    min-width: 80%;
    max-width: 80%;
    max-height: 90%;
    background-color: #e5e6ea;
    overflow: auto;
    border: .5px solid #cccdd0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.7);
    padding-bottom: 50px;
}

.container:hover {
    background-color: rgb(249, 249, 251);
    transition: 0.9s linear;
}

/* ---------------------------------- 0.1. CONTAINER SCROLLBAR ----------------------------------- */
.container::-webkit-scrollbar,
.container::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(245, 245, 245, 0);
}

/**  STYLE 1 */
.container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .9);
    background-color: #444;
}

.container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
/* -------------------------------- end of CONTAINER SCROLLBAR -------------------------------- */

/* ----------------------------------- 0.2. SLIDING DRAWER ------------------------------------ */
.main-navigation {
    max-width: 80%;
    margin-left: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f48d75;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.6s ease;
    cursor: default;
}

.main-navigation ul {
    margin: 0;
    margin-top: 35vh;
    padding: 0;
    list-style: none;
}

.main-navigation ul a {
    padding: 10px 20px;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
}

.main-navigation ul a:hover {
    background-color: #f7a794;
    cursor: default;
}

.title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.6rem;
    padding-bottom: 10px;
    color: black;
    font-weight: 600;
}

hr {
    margin: 0 15% 30px 15%;
    border-color: black;
}

#closeBtn {
    top: 101%;
    left: 46%;
    position: fixed;
    cursor: pointer;
    font-size: 2em;
}

#closeBtn::after {
    content: "";
    position: absolute;
    background-color: white;
    top: 26%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    color: white;
    z-index: -1;
}
/* ----------------------------------- end of SLIDING DRAWER ------------------------------------ */

/* ------------------------------------ 0.3. TOGGLED CLASSES ------------------------------------ */
.open {
    opacity: 1;
    transform: translateY(-10%);
    border-radius: 10px;
}

.completed {
    color: #00cec9;
    text-decoration: line-through;
}
/* ----------------------------------- end of TOGGLED CLASSES ----------------------------------- */

header {
    margin-bottom: 0;
    position: relative;
}

.site-title {
    color: black;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 90px 0 20px 0;
    font-size: 2em;
}

.site-title:focus {
    outline: none;
}

/* -------------------------------------- 1. MAIN SECTION --------------------------------------- */
.list-name {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 500;
}

p,
h2 {
    padding: 20px 30px;
}

/* ------------------------------------------ 1.1. INPUT ----------------------------------------- */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding-left: 30px;
}

.enter-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 50%;
    text-align: center;
    letter-spacing: .15em;
    color: grey;
    border: 1px solid grey;
    border-radius: 25px;
    outline: none;
    background: none;
}

.enter-item:focus {
    box-shadow: inset 2.5px 2.5px 0 0 rgba(0, 0, 0, 0.15);
}
/* ------------------------------------------- end of INPUT -------------------------------------- */

/* --------------------------------------- 1.2. SUBMIT BUTTON ------------------------------------ */
.submit {
    margin-left: 15px;
    font-size: 2em;
    padding: 0;
    border-radius: 50%;
}

.submit:hover {
    cursor: pointer;
    color: #ff7675;

}

.submit:active {
    transform: translateY(1px);
    box-shadow: none;
    transition: .1s;
}
/* --------------------------------------- end of SUBMIT BUTTON ---------------------------------- */

/* ----------------------------------------- 1.3. TODO LIST -------------------------------------- */
.list {
    padding: 7% 0;
    display: block;
}

.list li {
    margin: 3px 10%;
    border: 1px solid #e5e6ea;
    list-style: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
}

.list li:hover {
    background-color: rgb(233, 236, 241);
}

.list span {
    display: inline-block;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    font-size: 13px;
    padding: 6px 0 6px 0;
    margin-right: 10px;
    width: 0;
    opacity: 0;
}

.list li:hover span {
    width: 30px;
    transition: .3s linear;
    opacity: 1;
}

.fa-trash-alt {
    margin: 0;
    padding: 0;
    color: white;
}

.fa-trash-alt:hover {
    cursor: pointer;
}
/* ------------------------------------------ end of TODO LIST ----------------------------------- */

/* ====================================================================== MEDIA QUERIES ========== */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 500px) {
    body {
        background-color: #0093a7;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-color: #e69f9f;
    }

    hr {
        margin-top: 5px;
        border-color: black;
    }

    .main-navigation ul {
        margin: 20vh 20vw 0 20vw;
    }

    .main-navigation ul a {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 1.1em;
        font-family: 'Open Sans', sans-serif;
        padding: 10px 0;
    }

    #closeBtn {
        top: 101%;
        left: 49%;
        position: fixed;
        color: #222;
        cursor: pointer;
        font-size: 2em;
    }

    #closeBtn:hover {
        /*    color: #55efc4;*/
    }

    #closeBtn::after {
        content: "";
        position: absolute;
        background-color: white;
        top: 26%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-radius: 50%;
        color: white;
        z-index: -1;
    }

    /* --------------------------------------- 1.3. TODO LIST ------------------------------------ */
    .list {
        padding-top: 7vh;
        display: block;
    }

    .list li {
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 18%;
        margin-right: 18%;
        max-width: 200em;
        border: 1px solid #e5e6ea;
        list-style: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .list li:hover {
        background-color: rgb(233, 236, 241);
    }

    .list span {
        display: inline-block;
        text-align: center;
        background-color: black;
        border: 1px solid black;
        border-radius: 5px 0 0 5px;
        font-size: 15px;
        padding-top: 5px;
        margin-right: 10px;
        width: 0;
        opacity: 0;
    }

    .list li:hover span {
        width: 30px;
        transition: .3s linear;
        opacity: 1;
    }

    .fa-trash-alt {
        margin: 0;
        padding: 0;
        color: white;
    }

    .fa-trash-alt:hover {
        cursor: pointer;
    }
}

/* ===================================================== media query * max-height: 500px ========= */
@media screen and (max-height: 500px) {
    .main-navigation {
        /*        overflow: auto;*/
    }

    .main-navigation ul {
        margin-top: 20vh;
    }

    .main-navigation ul a {
        padding: 1.8vh 4%;
    }

    hr {
        margin: 0 15% 5vh 15%;
    }
}

/* ===================================================== media query * min-height: 650px ========= */
@media only screen and (min-height: 650px) {
    .main-navigation ul {
        margin: 40vh 20vw 0 20vw;
    }
}

/* ============================================================ iPhone 5, 5S, 5C and 5SE ========= */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .container {
        min-width: 100%;
        max-height: 100%;
        border-radius: 0;
    }

    /* ----------------------------------- 0.2. SLIDING DRAWER ----------------------------------- */
    .main-navigation {
        max-width: 100%;
        margin-left: 0;
        width: 100%;
        height: 100%;
        background-color: #FD7272;
        transform: translateY(-99%);
        transition: transform 0.6s ease;
    }

    .main-navigation ul {
        margin-top: 20vh;
    }

    .main-navigation ul a {
        padding: 10px 20px;
        display: block;
        color: #141313;
        font-size: 1.1em;
        font-family: 'Open Sans', sans-serif;
    }

    .main-navigation ul a:hover {
        background-color: #FD7272;
    }

    .title {
        font-size: 1.5rem;
        padding-bottom: 10px;
        color: #141313;
    }
    /* ---------------------------------- end of SLIDING DRAWER ---------------------------------- */

    /* ----------------------------------- 0.3. TOGGLED CLASSES ---------------------------------- */
    .open {
        opacity: 1;
        transform: translateY(-8%);
        border-radius: 10px;
    }

    .completed {
        color: #00cec9;
        text-decoration: line-through;
    }

    /* ---------------------------------- enf of TOGGLED CLASSES --------------------------------- */

    /* ------------------------------------- 1. MAIN SECTION ------------------------------------- */
    .list-name {
        text-align: center;
        text-transform: uppercase;
        margin: 20px 0;
        font-weight: 500;
    }

    p,
    h2 {
        padding: 20px 30px;
    }

    /* ---------------------------------------- 1.1. INPUT --------------------------------------- */
    .box {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .enter-item {
        width: 80%;
        margin-bottom: 8px;
    }

    .enter-item:focus {
        box-shadow: inset 2.5px 2.5px 0 0 rgba(0, 0, 0, 0.15);
    }

    /* --------------------------------------- end of INPUT -------------------------------------- */


    /* ------------------------------------ 1.2. SUBMIT BUTTON ----------------------------------- */
    .submit {
        margin-left: 15px;
        font-size: 2em;
        padding: 0;
        border-radius: 50%;
    }

    .submit:hover {
        cursor: pointer;
        color: #FD7272;

    }

    .submit:active {
        transform: translateY(1px);
        box-shadow: none;
        transition: .1s;
    }
    /* ------------------------------------ end of SUBMIT BUTTON --------------------------------- */

    /* --------------------------------------- 1.3. TODO LIST ------------------------------------ */
    .list {
        padding-top: 3%;
    }

    .list li {
        overflow: auto;
    }
    /* -------------------------------------- end of TODO LIST ----------------------------------- */
}
/* ================================================================== END OF media query ========= */
